# https://gist.github.com/ethagnawl/86a0284c990196ae31b7
set show-mode-in-prompt on

# better TAB-completion
# -> not case sensitive
# -> show all results with the first TAB
set completion-ignore-case on
set show-all-if-ambiguous on
TAB: menu-complete

# show [N] in prompt to signal normal (command) mode
# -> cycle through the results
set vi-cmd-mode-string [N]

# show [I] in prompt to signal input mode
set vi-ins-mode-string [I]
